.topbar-container {
  width: 100vw;
  height: 89px;
  color: white;
  background: rgb(120,52,252);
  border-bottom: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 3px 3px rgba(16, 15, 15, 0.237);
}
.left-of-topbar {
  width: 33%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.mid-of-topbar {
  width: 33%;
}
.right-of-topbar {
  width: 33%;
}

img {
  width: 60px;
  height: 50px;
}

button {
  width: 350px;
  height: 35px;
  border-radius: 30px;
  background-color: rgb(120,52,252);
  color: white;
  font-weight: 600;
  border: 0.5px solid #f21f9e;
  box-shadow: 1px 3px 3px rgba(16, 15, 15, 0.237);
  letter-spacing: 1px;
}

button:hover{
  cursor: pointer;
  background-color: #f51a9d;
  border: 1px solid #2bb5fc;
}

.connect-wallet-button {
  width: 200px;
}

ul {
  text-decoration: none;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}